<div class="list-filter">
  {{input
    value=this.value
    class="light"
    placeholder="Filter By City"
  }}
</div>

<Await @promise={{this.rentals}} as |rentals|>
  <ul class="results">
    {{#each rentals as |rental|}}
      <RentalListingItem @rental={{rental}} />
    {{/each}}
  </ul>
</Await>



